In [1]:
## Basic's lib's are auto imported by my setting's  (pandas,numpy, matplot, seaborn)

In [2]:
from ncustpip import naturalCleanTxt as nct # Our custom python modules
from ncustpip import naturalSparc as nsp # Our custom python modules 

from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

# Part 1 - Easly cleaned Text sources

In [3]:
df = pd.read_csv("bt_articlev2.csv")

In [4]:
df.head(3)

,meta,title,company_concerned,company_country_concerned,dodgy_deals,dodgy_sector,dodgy_country,article
0,\nBy: Greenpeace\n2020-01-21\n,Davos financial players pump US$1.4 trillion i...,Bank of America,United States,NaN,NaN,NaN,"\nJanuary 21 2020, Davos, Switzerland\n\n\nBan..."
1,\nBy: Milieudefensie & OECDWatch\n2020-01-20\n...,Friends of the Earth groups complaint against ...,ING,Netherlands,Socfin,agriculture - non-food crops | agriculture - p...,Luxembourg,"\nAMSTERDAM, 20 January 2020 - The Dutch Natio..."
2,\nBy: Rainforest Action Network\n2020-01-13\n,Dozens take action at JPMorgan healthcare conf...,JPMorgan Chase,United States,NaN,NaN,NaN,\nSan Francisco –– A coalition of dozens of ac...

In [5]:
#set cols name in vector
cols_concerned = ["meta","title","company_concerned","company_country_concerned",
                  "dodgy_deals","dodgy_sector","dodgy_country","article"]

lang = "english"

def autoCleaner(df,cols_concerned,lang):
    
    clean_freq = nct(language=lang) ## Instantiate our class with default parameters language='english'
    
    # Pass both in a pipeline & coluColumnTransformermtransformer
    preprocess_pipe = ColumnTransformer([("cle", clean_freq, cols_concerned)])

    # transform data
    dfclean = preprocess_pipe.fit_transform(df) 

    # that return a numpy array you can use it or back to DataFrame
    dfclean = pd.DataFrame(dfclean)
    
    return dfclean

In [6]:
dfclean = autoCleaner(df, cols_concerned, lang)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
dfclean.head(3)

,0,1,2,3,4,5,6,7
0,greenpeace 2020-01-21,davos financial player pump 1.4 trillion fossi...,bank america,united state,nan,nan,nan,january 2020 davos switzerland bank pension fu...
1,milieudefensie oecdwatch 2020-01-20 amsterdam,friend earth group complaint ing group admissi...,ing,netherlands,socfin,agriculture non-food crop agriculture palm oil,luxembourg,amsterdam january 2020 dutch national contact ...
2,rainforest action network 2020-01-13,dozen take action jpmorgan healthcare conference,jpmorgan chase,united state,nan,nan,nan,san francisco coalition dozen activist communi...

 --------------  We can do this with all language support by NLTK  ------------------

In [8]:
phrase = "Je suis content, car elle a eu le temps de boire un café ce matin avec moi"

sent = pd.DataFrame()
sent.loc[0,'article'] = phrase

#change my variable
lang = 'french'
cols_concerned = ['article']

In [9]:
sent

                                             article
0  Je suis content, car elle a eu le temps de boi...

In [10]:
dfclean_fr = autoCleaner(sent, cols_concerned, lang)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [11]:
dfclean_fr

                                   0
0  content car temp boire café matin

# Part 2 - Easly cleaned + TF / IDF

We will apply same method's than before add the tf/idf step

In [12]:
df = pd.read_csv("bt_articlev2.csv")

In [13]:
df.head(3)

,meta,title,company_concerned,company_country_concerned,dodgy_deals,dodgy_sector,dodgy_country,article
0,\nBy: Greenpeace\n2020-01-21\n,Davos financial players pump US$1.4 trillion i...,Bank of America,United States,NaN,NaN,NaN,"\nJanuary 21 2020, Davos, Switzerland\n\n\nBan..."
1,\nBy: Milieudefensie & OECDWatch\n2020-01-20\n...,Friends of the Earth groups complaint against ...,ING,Netherlands,Socfin,agriculture - non-food crops | agriculture - p...,Luxembourg,"\nAMSTERDAM, 20 January 2020 - The Dutch Natio..."
2,\nBy: Rainforest Action Network\n2020-01-13\n,Dozens take action at JPMorgan healthcare conf...,JPMorgan Chase,United States,NaN,NaN,NaN,\nSan Francisco –– A coalition of dozens of ac...

In [14]:
col_vec = ["article"]
lang = "english"           

a_transformer = Pipeline([
    ('cle', nct(language=lang)),
    ('vec', nsp(language=lang))
])

preprocessor = ColumnTransformer([("veh", a_transformer, col_vec )])
           

pipper = Pipeline([
                    ("pp", preprocessor)
                  ])

arr_vec = pipper.fit_transform(df)

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\utilisateur\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
arr_vec

<964x23990 sparse matrix of type '<class 'numpy.float64'>'
	with 202991 stored elements in Compressed Sparse Row format>

Now our data are ready to be clustered or other

# ---------------------------------- The End --------------------------------------